In [ ]:
import pandas as pd
import itertools as it

In [ ]:
data = pd.read_csv('movie_bd_v5.csv')

In [ ]:
data.describe()

# Предобработка

In [ ]:
# So we need to change this in datetime format:
data['release_date'] = pd.to_datetime(data['release_date'])
# Add column 'profit':
data['profit'] = data.revenue - data.budget
answers = {}

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [ ]:
answers['1'] = '1. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [ ]:
data.query("budget == budget.max()")

ВАРИАНТ 2

In [ ]:
data[data['budget'] == data['budget'].max()]

# 2. Какой из фильмов самый длительный (в минутах)?

In [ ]:
answers['2'] = '2. Gods and Generals (tt0279111)'

In [ ]:
data.query("runtime == runtime.max()")

In [ ]:
# Variant 2:

data[data['runtime'] == data['runtime'].max()]

# 3. Какой из фильмов самый короткий (в минутах)?

In [ ]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [ ]:
data.query("runtime == runtime.min()")

In [ ]:
# Variant 2:

data[data['runtime'] == data['runtime'].min()]

# 4. Какова средняя длительность фильмов?

In [ ]:
answers['4'] = '4. 109.6585494970884'

In [ ]:
data.runtime.mean()

In [ ]:
# Variant 2:

data['runtime'].mean()

# 5. Каково медианное значение длительности фильмов?

In [ ]:
answers['5'] = '5. 107'

In [ ]:
data.runtime.median()

In [ ]:
# Variant 2:

data['runtime'].median()

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [ ]:
answers['6'] = '6. Avatar (tt0499549)'

In [ ]:
data.query('profit == profit.max()')

In [ ]:
# Variant 2:

data[data['profit'] == data['profit'].max()]

# 7. Какой фильм самый убыточный?

In [ ]:
answers['7'] = '7. The Lone Ranger (tt1210819)'

In [ ]:
data.query('profit == profit.min()')

In [ ]:
# Variant 2:

data[data['profit'] == data['profit'].min()]

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [ ]:
answers['8'] = '8. 1478'

In [ ]:
data.query('revenue > budget').imdb_id.count()

In [ ]:
# Variant 2:

data[data['revenue'] > data['budget']].imdb_id.count()

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [ ]:
answers['9'] = '9. The Dark Knight (tt0468569)'

In [ ]:
data2 = data.query('release_year == 2008')
data2.query('revenue == revenue.max()')

In [ ]:
# Variant 2:

data2 = data[data['release_year'] == 2008]
data2[data2['revenue'] == data2['revenue'].max()]

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [ ]:
answers['10'] = '10. The Lone Ranger (tt1210819)'

In [ ]:
data2 = data.query('2011 < release_year < 2015')
data2.query('profit == profit.min()')

In [ ]:
# Variant 2:

data2 = data[(data['release_year'] > 2011) & (data['release_year'] < 2015)]
data2[data2['profit'] == data2['profit'].min()]

# 11. Какого жанра фильмов больше всего?

In [ ]:
answers['11'] = '11. Drama'

In [ ]:
# превращаем все в одну строку
data['genres'].str.cat(sep='|')
# создаем список разделяя строку по '|'
# считаем количество элементов в серии
pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts().head(1)

ВАРИАНТ 2

In [ ]:
all_genres_list = data['genres'].str.cat(sep='|').split('|')
count_genre = []
genres_list = []

for genre in all_genres_list: # Count the number of matches and create a list 
                              # of genres
    if genre not in genres_list:
        count_genre.append(all_genres_list.count(genre))
        genres_list.append(genre)
        
data3 = pd.DataFrame()
data3 = pd.DataFrame({'genres': genres_list, 'count': count_genre})
data3.sort_values(by = 'count', ascending = False).head(1)

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [ ]:
answers['12'] = '12. Drama'

In [ ]:
all_genres = data['genres'].str.cat(sep='|').split('|')
genres_list = []
profit_list = []
count_films_genre = []
data2 = data.query('profit > 0')

for genre in all_genres: # Count the number of films of a certain genre and
                         # create a list of genres
    if genre not in genres_list:
        genres_list.append(genre)
        count_films_genre.append(data2[data2.genres.str.contains\
            (genre, na=False)].imdb_id .count())

data3 = pd.DataFrame()
data3 = pd.DataFrame({'genres': genres_list, 'count_films': count_films_genre})
data3.sort_values(by = 'count_films', ascending = False).head(1)

In [ ]:
# Variant 2:

all_genres = data['genres'].str.cat(sep='|').split('|')
genres_list = []
profit_list = []
count_films_genre = []
data2 = data[data['profit'] > 0]

for genre in all_genres: # Count the number of films of a certain genre and
                         # create a list of genres
    if genre not in genres_list:
        genres_list.append(genre)
        count_films_genre.append(data2[data2.genres.str.contains\
            (genre, na=False)].imdb_id .count())

data3 = pd.DataFrame()
data3 = pd.DataFrame({'genres': genres_list, 'count_films': count_films_genre})
data3.sort_values(by = 'count_films', ascending = False).head(1)

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [ ]:
answers['13'] = '13. Peter Jackson'

In [ ]:
all_director = data['director'].str.cat(sep='|').split('|')
director_list = []
revenue_sum = []
data2 = data

for director in all_director: # Count the total fees of each director and
                              # create a list of directors
    if director not in director_list:
        director_list.append(director)
        revenue_sum.append(data2[data2.director.str.contains\
            (director, na=False)].revenue.sum())

data3 = pd.DataFrame()
data3 = pd.DataFrame({'director': director_list, 'revenue_sum': revenue_sum})
data3.sort_values(by = 'revenue_sum', ascending = False)

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [ ]:
answers['14'] = '14. Robert Rodriguez'

In [ ]:
data2 = data
count_films = []

for director in director_list: # Create a list of the number of Action films
                               #  of each director
    count_films.append(data2[(data2.director.str.contains\
    (director, na=False)) & data2.genres.str.contains('Action', na=False)]\
        .imdb_id.count())
    
data3 = pd.DataFrame()
data3 = pd.DataFrame({'director': director_list, 'count_films': count_films})
data3.sort_values(by = 'count_films', ascending = False)

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [ ]:
answers['15'] = '15. Chris Hemsworth'

In [ ]:
data2 = data[data.release_year == 2012]
all_cast = data['cast'].str.cat(sep='|').split('|')
cast_list = []
revenue_cast_2012 = []

for cast in all_cast: # Create a list of casts and calculate the casts
                      # box office
    if cast not in cast_list:
        cast_list.append(cast)
        revenue_cast_2012.append(data2[data2.cast.str.contains(cast, na=False)]\
            .revenue.sum())

data3 = pd.DataFrame()
data3 = pd.DataFrame({'cast': cast_list, 'revenue_cast': revenue_cast_2012})
data3.sort_values(by = 'revenue_cast', ascending = False)

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [ ]:
answers['16'] = '16. Matt Damon'

In [ ]:
data2 = data.query('budget > budget.mean()')
count_films = []

for cast in cast_list: # Count the number of films with each actor
    count_films.append(data2[data2.cast.str.contains(cast, na=False)]\
        .imdb_id.count())
    
data3 = pd.DataFrame()
data3 = pd.DataFrame({'cast': cast_list, 'count': count_films})
data3.sort_values(by = 'count', ascending = False)

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [ ]:
answers['17'] = '17. Action'

In [ ]:
data2 = data[data.cast.str.contains('Nicolas Cage', na=False)]
cage_genres = []

for genre in genres_list: # Count the number of films
    cage_genres.append(data2[data2.genres.str.contains(genre, na=False)]\
        .imdb_id.count())

data3 = pd.DataFrame()
data3 = pd.DataFrame({'genres': genres_list, 'count': cage_genres})
data3.sort_values(by = 'count', ascending = False)

# 18. Самый убыточный фильм от Paramount Pictures

In [ ]:
answers['18'] = '18. K-19: The Widowmaker (tt0267626)'

In [ ]:
data2 = data
production_companies = data2['production_companies'].str.cat(sep='|')\
    .split('|')
companies = []

for companie in production_companies: # Creating a list of companies
    if companie not in companies:
        companies.append(companie)

data2[data2.production_companies.str.contains('Paramount Pictures', na=False)]\
    .query('profit == profit.min()')

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [ ]:
answers['19'] = '19. 2015'

In [ ]:
data2 = data
list_years = data2.release_year.unique()
revenue_years = []

for year in list_years: # Calculate the total box office receipts for each year
    revenue_years.append(data2[data2.release_year == year].revenue.sum())

data3 = pd.DataFrame()
data3 = pd.DataFrame({'year': list_years, 'revenue': revenue_years})
data3.sort_values(by = 'revenue', ascending = False)

# 20. Какой самый прибыльный год для студии Warner Bros?

In [ ]:
answers['20'] = '20. 2014'

In [ ]:
data2 = data[data.production_companies.str.contains('Warner Bros', na=False)]
profit_years = []

for year in list_years: # Calculate the profit for each year
    profit_years.append(data2[data2['release_year'] == year].profit.sum())
    
data3 = pd.DataFrame()
data3 = pd.DataFrame({'year': list_years, 'profit': profit_years})
data3.sort_values(by = 'profit', ascending = False)

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [ ]:
answers['21'] = '21. Сентябрь'

In [ ]:
data2 = data
data2.release_date.dt.month.value_counts()

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [ ]:
answers['22'] = '22. 450'

In [ ]:
data2.query('5 < release_date.dt.month < 9').imdb_id.count()

# 23. Для какого режиссера зима – самое продуктивное время года?

In [ ]:
answers['23'] = '23. Peter Jackson'

In [ ]:
data2 = data.query('release_date.dt.month < 3 | release_date.dt.month == 12')
count_films = []

for director in director_list: # Count the number of films of all directors
    count_films.append(data2[data2.director.str.contains(director, na=False)]\
        .imdb_id.count())

data3 = pd.DataFrame()
data3 = pd.DataFrame({'director': director_list, 'count': count_films})
data3.sort_values(by = 'count', ascending = False)

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [ ]:
answers['24'] = '24. Four By Two Productions'

In [ ]:
data2 = data
data2['symbols'] = data2.original_title.map(lambda x: len(x))
symbols = []

for company in companies: # Calculating the average length of movie titles
    symbols.append(data2[data2.production_companies.str.contains\
        (company, na=False)].symbols.mean())

data3 = pd.DataFrame()
data3 = pd.DataFrame({'company': companies, 'symbols': symbols})
data3.sort_values(by = 'symbols', ascending = False)

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [ ]:
answers['25'] = '25. Midnight Picture Show'

In [ ]:
data2 = data
data2['words'] = data2.overview.map(lambda x: len(x.split()))
data2
words = []

for company in companies: # Calculate the average value according to the
                          # description of films
    words.append(data2[data2.production_companies.str.contains\
        (company, na=False)].words.mean())
    
data3 = pd.DataFrame()
data3 = pd.DataFrame({'company': companies, 'words': words})
data3.sort_values(by = 'words', ascending = False)

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [ ]:
answers['26'] = '26. Inside Out, The Dark Knight, 12 Years a Slave'

In [ ]:
data[data.vote_average > data.vote_average.quantile(0.99)]['original_title']

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [ ]:
answers['27'] = '27. Daniel Radcliffe & Rupert Grint'

In [ ]:
cast_list = data.cast.str.split('|').tolist()
coincidences_list = []

for i in cast_list: # Count the number of matches
    for j in it.combinations(i, 2):
        coincidences_list.append(' '.join(j))
        
coincidences = pd.DataFrame(coincidences_list)
coincidences.columns = ['coincidences']
coincidences.coincidences.value_counts().head(10)

# Submission

In [ ]:
answers

# и убедиться что ни чего не пропустил)

In [ ]:
len(answers)